<div class = "jumbotron text-center">
   <h1>HERO SQUAD</h1>
   <h2>Welcome To The Heroes Squad Page </h2>
</div>

<div class="d-flex justify-content-center align-items-center my-form-1">
  <div class="card text-center my-form">
    <h2> Click A Button According To Your Choice <h2>

      <a href="/squad"> <button type="submit" class="btn btn-success"> Create Squad </button> </a>


       <a href="/squads"> <button type="submit" class="btn btn-success">View Squads</button></a>

  </div>
</div>